@import '../../../styles/mixins';
.wrapper {
  background: #fff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
}
.container {
  max-width: 1250px;
  margin: 0 auto;
  background: #fff;
  @media (max-width: 1250px) {
    padding: 20px;
  }
  @include sm {
    padding: 0 5px;
  }
}
.header {
  @include JCSB;
  padding: 12px 0;
  &__left {
    max-width: 281px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 72px;
      @include sm {
        width: 52px;
      }
      & > a > img {
        width: 100%;
      }
    }
  }
  &__right {
    @include JCSB;
    align-items: center;
    gap: 24px;
    @include lg {
      gap: 15px;
    }
    @include md {
      gap: 10px;
    }
    @include sm {
      gap: 5px;
    }
  }
}
.user {
  border-radius: 50%;
  border: none;
  background: #f5f5f5;
  padding: 10px;
  @media (min-width: 768px) {
    display: none;
  }
}
.menu {
  border: none;
  background: transparent;
  @media (min-width: 768px) {
    display: none;
  }
}
